.wrapper {
  background-color: #282c34;
  padding: 10px;
  color: white;
  margin-bottom: 5px;
}

.panelButton {
  display: flex;
  justify-content: space-between;
}

.user {
  display: flex;
  justify-content: space-between;
}