.dark {
    background: #282c34;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.green {
    background: lightgreen;
}

.green-text {
    color: darkslateblue;
}

.blue {
    background: #1b1ba2;
}

.blue-text {
    color: white;
}