.navbar {
  position: relative;
  height: 30px;
  padding: 10px 0;
  min-width: 230px;
  width: 100%;
  overflow: hidden;
  background-color: #282c34;
  margin-bottom: 5px;
  border-radius: 5px;
}

.menu {
  display: flex;
  position: absolute;
  left: -192px;
  transition: 1s;
  padding: 5px 10px;
  z-index: 10;
  /*width: 100%;*/
}

.menu:hover {
  left: 50%;
  transition: 1s;
  transform: translateX(-50%);
}

.menu:after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: deepskyblue;
  border-radius: 5px;
}

.menu:before {
  content: '';
  position: absolute;
  width: 50px;
  left: -50px;
  height: 20px;
  /*background-color: deepskyblue;*/
  /*border-radius: 5px;*/
}

.item {
  margin-right: 10px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.active {
  color: deepskyblue;
}